<form #userForm="ngForm"   (ngSubmit)="onSave(userForm.value)" novalidate >  
        <p>Is "myForm" valid? {{userForm.valid}}</p>  
       <table border='1'>  
          <tr>
                <input name="id" type="hidden"     [(ngModel)]="id" />
              <td>Enter the USN : </td>
              <td>
              <input name="usn" type="string"     [(ngModel)]="usn" />
            </td>
          </tr>
    <tr>  
      <td>On a scale of 1 to 10 please rate how well is today's class</td>  
      <td>   
           
           
           <input name="points" type="number"  required  [(ngModel)]="points" />  
        
       </td>  
      </tr>  
        
      <tr>  
          <td>Comment min 10 words</td>  
          <td>    <input name="description" type="text" [(ngModel)]="description" required="required" /></td>  
          </tr>  
          <tr>  
              <td colspan="2">  
                    <input type="submit" value="{{valbutton}}"   /> 
          </td>  
          </tr>  
       </table>  
      </form>   
        
      