 
   <mat-toolbar color="primary">
       <span class="tbar">CrypticFeedback</span>
       <button  routerLink="/res" routerLinkActive="active" mat-button >click here to view results</button>
<button routerLink="/takeFeed" mat-button  >click here to give feedback</button>
       <mat-icon>account_circle</mat-icon>
    </mat-toolbar>
    <div > 
        <h3 style="text-align: center;color: grey" >Welcome to CrypticFeedback System</h3>
      
   



   <router-outlet></router-outlet>
</div>